<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muzamilpeer.raspberrypicar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:maxSdkVersion="7"/>
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />     
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        
        <activity
            android:name="com.muzamilpeer.raspberrypicar.app.accelerometerdrive.AccelerometerDriveActivity"
            android:screenOrientation="portrait"
            android:label="Landscape" >
        </activity>
        <activity
            android:name="com.muzamilpeer.raspberrypicar.app.scan.ScanCarActivity"
            android:screenOrientation="portrait"
            android:label="Scanning" >
        </activity>
        <activity
            android:name="com.muzamilpeer.raspberrypicar.app.manualdrive.ManualDriveActivity"
            android:screenOrientation="portrait"
            android:label="Manual Drive" >
        </activity>
        <activity
            android:name="com.muzamilpeer.raspberrypicar.app.DashboardActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>        
        <activity
            android:name="com.muzamilpeer.raspberrypicar.app.login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
